*{
	font-family: 'verdana';
	color: rgba(21, 20, 57,0.6);;
}

a, label,h1, h2{
	color: #1E0E62;
}




.container-header {
	background-color: #FFFFFF;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	min-height: 100px;
	padding: 30px 30px;
}


.container-header b{
	font-size: 20px;
	padding: 10px;
}
.container-header button {
	padding: 9px 30px;
	border-radius: 100px;
	/*background-color: #fff;*/
	background-color: #25DAC5;
	color: #fff;
	border: none;
	font-size: 16px;
}
.container-header button:hover {
	background-color: #12ffC5;

}



.section-perfil{
	background-color: #F1F1F1;
	padding: 10px 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-evenly ;
}

.sp-datosPersonales{
	max-width: 500px;
	padding: 30px 30px;

}

.sp-datosPersonales h1{
	font-size: 43px;
}
.sp-datosPersonales p{
	
	font-size: 22px;
	text-align: justify;

}

.sp-fotoPerfil {
	padding: 50px ;
}

.sp-fotoPerfil img{
	object-fit: cover;
	min-width: 370px;
	min-height: 450px;
	border-radius: 20px;

}




.section-abilities{
	background-color: #F1F1F1;
	display: flex;
	flex-wrap: wrap;
	padding: 0px 100px;
	padding-bottom: 60px;
	justify-content: space-around;
}

.sa-h2{
	text-align: center;
	padding: 40px 0px;
	background-color: #F1F1F1;
}

.item-sa{
	flex-grow: 1;
	max-width: 280px;
}

.item-sa strong {
	display: block;
	text-align: center;
	margin: 30px 0px;
}

.item-sa p{
	text-align: center;
}




.section-experience{
	background-color: #Fff;
	padding-bottom: 60px;
}

.se-h2{
	text-align: center;
	padding: 40px 0px;
}

.se-button {
	display: block;
	margin: 30px auto;
	background-color: #25DAC5;
	color: #fff;
	font-size: 18px;
	padding: 15px 20px;
	border-radius: 100px;
	border: none;
}

.se-button:hover{
	background-color: #12ffC5;

}

.se-button a{
	text-decoration: none;
	color: #Fff;
}



.container-se{
	display: flex;
	flex-wrap: wrap;
	padding: 0 100px;
	justify-content: space-around;
}

.item-se{
	flex-grow: 1;
	max-width: 280px;
	margin: 10px;
	padding: 25px;

	display: flex; /*como contenedor padre*/
	flex-direction: column;
	justify-content: center;

}

.item-se img{
	object-fit: cover;
	height: 160px;
}

.item-se a {
	display: block;
	text-align: center;
	margin: 30px 0px;
	text-decoration: none;
}

.item-se p{
	text-align: center;
}

.item-se:hover{
	border-radius: 20px;
	background-color: #0002;
}




.container-footer{
	background-color: #F1F1F1;
	max-height: 710px;
	min-height: 330px;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.item-cf{
	align-self: center;
	margin: 10px 0px;
	font-size: 30px;
}

.item-cf:nth-child(3){
	margin-top: 60px;
	display: flex;
}

.item-cf:nth-child(3) li{
	text-decoration: none; /*quitar las deoraciones de los links*/
	list-style-type: none; /*para quitar la viñetas*/
	margin-right: 30px;
}

.item-cf:nth-child(3) li a i{

	font-size: 30px;
	color: #9999A7;
}



@media screen and (max-width: 480px){
	.sp-datosPersonales{
		order: 2;
	}


	.sp-fotoPerfil {
		order: 1;
		position: relative;
		top: -40px;
		padding: 0px;
		
	}

	.sp-fotoPerfil img{
		object-fit: cover;
		min-width: 50px;
		min-height: 70px;
		border-radius: 50%; /*borde 100px la apariencia es de circulo*/

	}

	.sp-datosPersonales {
		padding: 10px;
	}

	.sp-datosPersonales h1{
		font-size: 23px;
	}

	.sp-datosPersonales p{
		font-size: 16px;

	}

	.container-header b{
		font-size: 15px;
		
	}


	.section-perfil{
		padding: 10px 20px;
	}

	.section-abilities{
		padding: 0px 20px;
		padding-bottom: 60px;
	}

	.container-se{
		padding: 0 20px;
	}

	.item-cf{
		align-self: center;
		margin: 10px 0px;
		font-size: 15px;
	}
}


