:root{
    --border-prueba:1px solid #000;
}


*,
*::after,
*::before{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: sans-serif;
}

.h1,.h2,.h3,.main-header__title,.list-projects__link{
    color: #1E0E62;
}
.img{
    max-width: 100%;
}

.main-header{
    background-color: #fff;
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.main-header__title{
    font-weight: bold;
    margin: .5rem 0;
    display: flex;
    flex-wrap: wrap;
}

.main-header__title::before{
    content: 'Portafolio';
}

.button{
    padding: .5em 1.5em;
    border-radius: 100px;
    border: none;
}

.button--blue{
    /* background-color: #25DAC5; */
    background-color: #236a96;
    color: white;
}

.button-inicio{
    position: absolute;
    left:83%;
    top:93%;
    position: fixed;
}

.button-inicio__link{
    color: #fff;
}

.main-nav{
    background-color: #236a96;
    position: sticky;
    top: 0%;
    width: 100%;
    
}

.main-menu{
    display: flex;
    justify-content: space-evenly;
}

.main-menu__item:hover{
    background-color:#1a5a83;
}

.main-menu__link{
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: .3rem 1rem;
    line-height: 3em;
}

.section{
    padding: .5em 2em;
}

.section--presentation{
    background-color: #F1F1F1;
}

.photo{
    display: block;
    text-align: center;
}

.article-presentation__photo{
    max-width:13em ;
    border-radius: 100%;
}

.h1{
    font-size: 1.5rem;
    margin-top: .5rem;
}

.section--abilities{
    background-color: #F1F1F1;
}

.list-abilities__item{ /*no se vean tan apretados*/
    padding-bottom: 1rem;
}

.h2{
    font-size: 1.3rem;
    text-align: center;
}

.list-abilities,.list-projects,.main-menu{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.h3{
    font-size: 1.1rem;
    text-align: center;
}

.section--experience{
    padding-bottom: 1.5rem;
}
.button--contact{
    display: block;
	margin: 0px auto;
}

.link-contact{
    text-decoration: none;
    color: white;
}

.button--blue:hover{
    background-color: #257aaf;
}

.list-projects__item{
    padding: 1em;
    margin-top: 1rem;
}

.list-projects__link{
    text-decoration: none;
}

.list-projects__img{
    border-radius: .5em;
}

.list-projects__item:hover{
    border-radius: 1em;
    background-color: #eee;
}

.main-footer{
    padding-top: 1em;
    padding-bottom: 6em;
    background-color: #F1F1F1;
}

.main-footer__title{
    font-size: 1.8rem;
    margin-bottom: .5em;
}

.main-footer__correo{
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
}

.list-socialnetworks{
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
}

.list-socialnetworks__item{
    font-size: 1.5em;
    margin: 0 .5em;
}

.list-socialnetworks__link{
    color: #4E0f72;
}

@media screen and (min-width:768px){
    .main-header__title{
        font-size: 1.6rem;
    }

    .article-presentation{
        margin:0 auto;
        margin-top: 1em;
        display: flex;
        justify-content: center;
    }
    .dates{
        max-width: 25em;
        min-width: 20em; 
    }
    .photo{
        max-height:15em;
        display: flex;
        order:2;
    }
    .article-presentation__photo{
        border-radius: 1em;
        top:0;
 
    }
    .list-abilities,.list-projects{
        display: flex;
        flex-wrap: wrap;
    }
    .list-abilities{
        justify-content: space-evenly;        
    }
    .list-projects{
        justify-content: space-evenly;        
    }

    .list-abilities__item,.list-projects__item{
        max-width: 33%;
    }
    .list-abilities__item{
        padding:1em;
    }
    .list-projects__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (min-width:960px){
    .article-presentation{
        width: 70%;
        justify-content: space-evenly;
    }
}


@media screen and (min-width:1024px){
    .list-abilities__item,.list-projects__item{
        max-width: 25%;
    }
}
/* @media screen and (prefers-color-scheme:dark){
    .h1,.h2,.h3,.main-header__title{
        color: rgb(203, 162, 66);
    }

    .section--presentation,.section--abilities,.main-footer{
        background-color: #444;
    }
    .main-header,.section--experience{
        background-color: #666;
    }
    
} */


