
:root{
    --black:#333;
    --azul-light:#257aaf;
    --border-prueba:1px solid #000;
}

*,
*::after,
*::before{
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* border: 1px #000 solid; */
}

body{
    margin: 0;
    font-family:'Times New Roman';
}

.h1,.h2,.h3,
.main-header__title,
.list-projects__link{
    color: var(--black);
}
.main-header__title{
    color: #fff;
    transition: 1.5s;
}

.main-header__title--black{
    color: #333;
    transition: 1.5s;
}

.img{
    max-width: 100%;
}
.main-header{
    position: fixed;
    width: 100%;
    z-index: 100; 
    top:0;
}
.main-header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1.5s;
}

.main-header__container--blanco{
    background-color: #fff;
}


.main-header__title{
    font-weight: bold;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.main-header__title::before{
    content: 'Portafolio';
}

.button{
    padding: .5em 1.5em;
    border-radius: 100px;
    border: none;
    font-weight: bold;

}

.button--black{
    /* background-color: #25DAC5; */
    background-color: var(--black);
    color: white;
}

.button--email{
    margin-right: 1rem;
    transition: 1.5s;
}
.button--inicio{
    position: fixed;
    right: 3%;
    bottom: 3%;
    z-index: 100;
}

.button-inicio__link{
    color: #fff;
}

.main-nav{
    width: 100%; 
    transition: 1.5s;
}

.main-nav--black{
    background-color: #333;
}

.main-nav{
    display: none;
}

.main-menu__item:hover,.main-menu__button:hover{
    background-color:rgba(0,0,0,.2);
}

.main-menu__link,.main-menu__icon,.main-menu__button{
    padding: .3rem 1rem;
    line-height: 3rem;
}

.main-menu__link, .main-menu__button{
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.main-menu__text{
    display: inline;
}

/*modificador de main-menu--mobile*/
.main-nav--mobile,.main-menu__button{
    display: block;
}
.main-nav--mobile .main-menu{
    width: 100%;
    padding: 2em 0;
    position: absolute;
    transform: translateX(-100%);
    transition: background-color 1.5s,transform 1s;
}
.main-menu__checkbox{
    display: none;
}
.main-menu__button{
    font-size: 2rem;
}
.main-menu__checkbox:checked + .main-menu {
    transform: translateX(0);
}
.main-menu--black{
    background-color: var(--black);
}

/*modificador de main-menu--links*/
.container-links{
    padding: 1em;
}

.main-menu--links,.main-menu--links .main-menu__text{
    display: inline;
}


.main-menu--links .main-menu__link{
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.slide{
    overflow: hidden;
}

.slide__content{
    display: flex; 
    width: 400%;
    height: 100vh;
}

.slide__item{
    width: 100%;
    animation-name: slideAnimation;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function:ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* @keyframes slideAnimation{
    0%{
        transform:translateX(0);
    }
    50%{
        transform:translateX(-100%);
    }
    75%{
        transform:translateX(-200%);
    }
    100%{
        transform:translateX(-300%);
    }
} */
/* .slide__item:nth-child(1){
    border-bottom: .5em solid #966223;
}
.slide__item:nth-child(2){
    border-bottom: .5em solid #236a96;
}
.slide__item:nth-child(3){
    border-bottom: .5em solid #2fac6e;
}
.slide__item:nth-child(4) .slide__img{
    border-bottom: .5em solid #ac2f67;
    object-fit: fill;
} */

.slide__img{
    /* max-width-->no use porque adapta la imagen sin recortarla */
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 6s;
    /*background-size: cover;/* 100% 100% adapta la imagen al contenedor pero la redimenciona(se puede deformar)*/
    /* background-size:cover; para adaptar la imagen lo mejor posible pero la recortar*/
}

.slide__img--scale:hover{
    transform: scale(1.1);
}

.card{
    position: absolute;
    top: 40%;
    left: 10%;
    border-radius: 10px;
    padding: 1em;
    color: #fff;
    /* background-color: rgba(12, 19, 32, 0.8); */
    font-size: 3rem;
    font-weight: bold;
}


.section{
    padding: .5em 2em;
}

.section--abilities,.section--experience{
    padding-top: 6.5em;
}
.section--presentation{
    background-color: var(--black);
    padding-top: 1em;
}

.article-presentation{
    background-color: #fff;
    padding: 1em 1.5em;
    border-radius: 10px;
    position: relative;
    transform: translateY(20%);
}

.photo{
    display: block;
    text-align: center;
}

.article-presentation__photo{
    max-width:13em ;
    border-radius: 100%;
    transition: 1s;

}
.article-presentation__photo:hover{
    transform: scale(1.07);
}

.h1{
    font-size: 1.5rem;
    margin-top: .5rem;
}



.h2{
    font-size: 1.3rem;
    text-align: center;
}

.list-abilities,.list-projects,.list-extras,.main-menu{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.list-abilities{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .5em;
}
.list-abilities__item{
    width: 25%;
    margin-bottom: 2em;
}
.list-abilities__img{
    max-width: 100%;/*imagenes autoajustables*/
}

.h3{
    margin: 0;
    font-size: 1rem;
    text-align: center;

}

.section--experience{
    padding-bottom: 1.5rem;
    background-color: #282424;
    color: #fff;
}
.button--contact{
    display: block;
	margin: 0px auto;
}

.link-contact{
    text-decoration: none;
    color: white;
}

.button--black:hover{
    background-color: #257aaf;
}

.list-projects__item{
    border-radius: 1em;
    padding: 1em;
    margin-top: 1rem;
    transition: background-color 1s;
}

.list-projects__item:hover{
   
    background-color:#fff;
    color: #000;
}

.list-projects__link{
    text-decoration: none;
}

.list-projects__img{
    border-radius: .5em;
}

.main-footer{
    padding-top: 6.5em;
    background-color: var(--black);
    color: #fff;
}
.h2--socialnetworks,.h2--form-contact,.h2--links,.main-menu__text,.main-menu__icon{
    color: #fff;
}

.list-socialnetworks{
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
}

.list-socialnetworks__link{
    font-size: 1.5em;
    margin: 0 .5em;
    color: #fff;
}


.container-form-contact{
    padding: 1em 1.5em;
}

.form-contact__field{
    display: flex;
    margin: .5em 0;
}
.form-contact__label{
    min-width: 25%;
    display: flex;
    align-items: center;
    font-weight: bold;
    
}
.form-contact__input{
    min-width: 75%;
    padding: .4em;   
    outline: none;
    border: none;
    border-bottom: .3em solid var(--black);
}
.form-contact__input:focus{
    border-bottom: .3em solid #2facac;
}
textarea{
    resize: none;
}
.form-contact__submit{
    width: 100%;
    display: block;
    margin: 1em auto;
    padding: .6em 0;
    border-radius: 0;
    background-color: var(--azul-light);
    transition: background-color .5s;
}
.form-contact__submit:hover{
    background-color: #2facac;
}

.container-extras{
    padding: 1em;
}
.container-logo{
    width: 50%;
    margin: 0 auto;
}
.logo{
    border-radius: 100%;
}
.list-extras__item{
    margin: 1em;
    font-weight: bold;
}
.list-extras__item i{
    margin-right: 1em;
}


@media screen and (min-width:768px){
   .card{
        max-width:20em;
    }

    .main-menu__text{
        display: inline;
    }

    .main-header__title{
        font-size: 1.6rem;
    }

    .article-presentation{
        margin:0 auto;
        margin-top: 1em;
        display: flex;
        justify-content: center;
    }
    .dates{
        max-width: 25em;
        min-width: 20em; 
    }
    .photo{
        max-height:15em;
        display: flex;
        order:2;
    }
    .article-presentation__photo{
        border-radius: 1em;
        top:0;
 
    }
    .list-abilities,.list-projects{
        display: flex;
        flex-wrap: wrap;
    }
    .list-abilities{
        justify-content: space-evenly;        
    }
    .list-projects{
        justify-content: space-evenly;        
    }

    .list-abilities__item,.list-projects__item{
        max-width: 33%;
    }
    .list-abilities__item{
        padding:1em;
    }
    .list-projects__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main-footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .contanier-socialnetworks{
       width: 100%;
    }
    .container-form-contact{
        width: 80%;
        padding: 2em 7em;
    }
    .container-extras,.container-links{
        width: 40%;
    }
}

@media screen and (min-width:960px){
    /*modificador de main-menu--mobile*/
    .main-nav--mobile{
        display: none;
    }
    .main-nav--desktop{
        display: block;
    }
    .main-nav--desktop .main-menu{
        display: flex;
        justify-content: center;
    }
    .article-presentation{
        width: 70%;
        justify-content: space-evenly;
    }
     .container-form-contact{
         width: 70%;
         padding: 2em 5em;
         margin: 0 20%;
     }
     .container-extras,.container-links{
         width: 35%;
    }
}

@media screen and (min-width:1024px){
    .list-abilities__item,.list-projects__item{
        max-width: 25%;
    }
}

@media screen and (min-width:1324px){
    .container-extras{
        order:1;
        width: 20%;
    }
    .container-links{
        order:2;
        width: 20%;
    }
    .contanier-socialnetworks{
        order:3;
        width: 20%;
        padding: 1em;
    }
    .h2--form-contact{
        padding-bottom: 1em;
    }
    .container-form-contact{
        order:4;
        width: 40%;
        margin: 0;
        background-color: transparent;
        padding-top: 1em;
        padding-right:2em;
    }
    .main-footer{
        padding-top: 1em;
    }
}


